:root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    --page-color: rgb(243, 224, 224);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px; 
}

body {
    min-height: 100vh;
    background-color: var(--page-color);
}

table, tr, td, th {
    border: solid 2px black;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
    text-align: center;
}

table {
    /* margin: 70px 0px 70px 300px; */
    margin: auto;
}

p {
    margin-top: 20px;
    margin-left: 10px;
}